body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: black;
  background-image: url('grad.png');
  background-position: left bottom;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  position: relative;
}

body #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

body.loading #loading {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

#stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('stars.png');
  background-size: 50% 50%;
  z-index: 1;
}

#wordmark {
  background: url('wordmark.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  border-top: 75px solid transparent;
  width: 360px;
  height: 200px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

#now-playing {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  -webkit-user-select: text;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 28px;
}

#controls {
  text-align: center;
}

#skip, #playpause {
  color: white;
  cursor: pointer;
  font-size: 72px;
  margin: 0 6px;
  width: 63px;
  z-index: 50;
  position: relative;
}

#audio {
  visibility: hidden;
}

#speed {
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.17);
  text-align: center;
}
