@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) {
  h1 {
    margin: 20px 0 0 0;
    height: 75px;
  }

  h2 {
    display: none;
  }

  h3 {
    font-size: 24px;
    padding: 0 0 5px 0;
  }

  #controls {
    padding-top: 5px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) {
  h1 {
    height: 90px;
  }
}
